/* No @imports allowed here to avoid errors */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #1a1a1a;
  color: white;
}

body {
  margin: 0;
  display: block; /* Ensures content starts at the top */
  min-height: 100vh;
}